#panel-body {
    border: 1px solid;
    height: 89%;
    position: relative;
    padding: 0px;
}
#profile-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    margin-left: 0px;
}
#username-container {
    margin-left: 20px;
}
#photo-container {
    margin-top: 10px;
}
#photo {
    width: 300px;
    height: 300px;
}
.btn-group {
    margin-top: 10px;
    margin-bottom: 20px;
}
.social-button {
    width: 100px;
}