<head>
    <link rel="stylesheet" href="/profile/profile.styles.css"/>
</head>

<div class="col-md-9" id="panel-body">
    <div id="profile-wrapper">
        <div id="username-container">
            {{profile.firstName}} {{profile.lastName}}

            <div id="photo-container">
                <img ng-src="data:image/jpeg;base64,{{profile.photo}}" id="photo">
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-primary social-button">Friends</button>

                <button type="button" class="btn btn-primary social-button"
                        ng-click="openFriendRequests()">Requests</button>

                <button type="button" class="btn btn-primary social-button" ng-if="myProfile()"
                        ng-click="openChats()">Chats</button>

                <button type="button" class="btn btn-primary social-button" ng-if="!myProfile()"
                        ng-click="openChat()">Message</button>
            </div>

            <div>
                user information
            </div>
        </div>
    </div>
</div>