<head>
    <link rel="stylesheet" href="/people/all.users/all-users.styles.css"/>
</head>

<div class="col-md-9" id="panel-body">
    <div class="row" id="people-container">
        <div class="list-group" id="list-group" ng-repeat="person in people">
            <div class="list-group-item" id="list-group-item">

                <div id="left-container">
                    <a href="#!/id{{person.id}}">
                        <img ng-src="data:image/jpeg;base64,{{person.photo}}" id="photo">
                    </a>
                </div>

                <div id="center-container">
                    <div id="name-container">
                        <a href="#!/id{{person.id}}">
                            {{person.firstName}} {{person.lastName}}
                        </a>
                    </div>
                </div>

                <div id="right-container">
                    <button id="add-friend-button" type="button" class="btn btn-primary btn-sm"
                            ng-click="addFriend(person.id)">
                        <span class="glyphicon glyphicon-user"></span> Add friend
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>