<head>
    <link rel="stylesheet" href="/people/friend.requests/outgoing/outgoing-requests.styles.css"/>
</head>

<div class="col-md-9" id="panel-body">
    <div class="row" id="people-container">

        <div id="top-line-container">
            OUTGOING REQUESTS
            <a href="#!/friends/requests/incoming" id="incomingRequests" type="button">
                Incoming requests
            </a>
            <hr>
        </div>

        <div class="list-group" ng-repeat="person in outgoingRequests">
            <div class="list-group-item" id="list-group-item">

                <div class="left-container">
                    <a href="#!/id{{person.id}}">
                        <img ng-src="data:image/jpeg;base64,{{person.photo}}" class="photo">
                    </a>
                </div>

                <div class="center-container">
                    <div class="name-container">
                        <a href="#!/id{{person.id}}">
                            {{person.firstName}} {{person.lastName}}
                        </a>
                    </div>
                </div>

                <div class="right-container">
                    <button id="reject-button" type="button" class="btn btn-default btn-sm"
                            ng-click="reject(person.id)">
                        <span class="glyphicon glyphicon-remove"></span> Reject
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>