#photo {
    height: 80px;
    width: 80px;
}
#add-friend-button {
    margin-top: 14%;
}
#list-group-item {
    border-radius: 1px;
    height: 100px;
    font-size: 13px;
    position: relative;
    display: flex;
    position: relative;
}
#list-group {
    margin: 0 0 5px;
}
#left-container {
    margin-left: 1%;
}
#center-container {
    margin-left: 20px;
    width: 40%;
}
#name-container {
    display: flex;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #428bca;
}
#right-container {
    right: 1%;
    position: absolute;
    width: 160px;
}