#chat-list-container {

}
#chat-container {
    border: 1px solid;
    height: 89%;
    position: relative;
    padding: 0px;
}
#contact-panel {
    height: 60px;
    border: 1px solid;
    margin-bottom: 1px;
    width: 100%;
}
.list-group {
    margin: 10px;
}
textarea {
    padding: 10px;
    height: 80px;
    width: 100%;
    resize: none;
}
#textarea-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#messages-container {
    overflow-y:scroll;
    position: absolute;
    bottom: 80px;
    top: 0px;
    width: 100%
}