<head>
    <link rel="stylesheet" href="/people/searching/searching.styles.css"/>
</head>

<div class="col-md-9" id="panel-body">
    <div class="row" id="people-container">
        <div class="list-group" id="list-group" ng-repeat="person in people">
            <div class="list-group-item" id="list-group-item" ng-click="openProfile(person.id)">

                <div id="left-container">
                    <img ng-src="data:image/jpeg;base64,{{person.photo}}" id="photo">
                </div>

                <div id="center-container">
                    <div id="name-container">
                        <a href="#!/id{{person.id}}">
                            {{person.firstName}} {{person.lastName}}
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>