#top-header {
    background: linear-gradient(#195600 0%, #417e14 10%, #559200 50%, #7dba00 100%);
    height: 60px;
    padding-top: 5px;
}
#main-navbar {
    border-top: 2px solid #2c5c11;
    border-bottom: 2px solid #2c5c11;
    border-radius: 0px;
}
.navbar-nav {
    font-weight: bold;
    color: red;
}
#emblem {
    margin: auto;
    display: block;
    height: 50px;
    align-content: center;
}
.proverb {
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    font-family: Stencil;
    color: rgba(85, 89, 82, 0.6);
}
#content-panel {
    border-radius: 0px;
    min-height: 70%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}
#content-panel-heading {
    color: #2c5c11;
    border: none;
    text-align: center;
}
footer {
    background-color: #0c4a00;
    color: #ababab;
    height: 30px;
    padding-top: 4px;
    padding-left: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding-top: 8px;
}
#search-input {
    outline: none;
    box-shadow: none;
}
.search-group {
    height: 28px;
    margin-top: 3px;
}
#search-submit {
    outline: none;
    box-shadow: none;
}
body {
    background-color: #eee;
}
#goods-quantity-bracket{
    width: 95px;
}
#user-functions-button-panel{
    width: 200px;
}
#a-cart {
    outline: none;
    box-shadow: none;
}
#user-name {
    margin-right: 50px;
    font-weight: 100
}