#content-panel {
    margin-bottom: 50px;
    background-color: #eee;
}
body {
    background-color: #eee;
}

#main-navbar {
    border-top: 1px solid #3d579b;
    border-bottom: 1px solid #0f0f0f;
    border-radius: 0px;
    background-color: #3d579b;
}
footer {
    background-color: #3b5998;
    color: #ababab;
    height: 30px;
    padding-top: 4px;
    padding-left: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding-top: 8px;
}
#search-input {
    outline: none;
    box-shadow: none;
    width: 300px;
}
.search-group {
    height: 28px;
    margin-top: 3px;
}
#search-submit {
    outline: none;
    box-shadow: none;
}
#home-button {
    color: white;
}
#a-user-name {
    color: white;
}
#user-name {
    font-weight: 100
}
#login-button {
    color: white;
}
#logout-button {
    color: white;
}
#sign-up-button {
    color: white;
}
#find-friends-button {
    color: white;
    margin-left: 50px;
}
#friends-button {
    color: white;
}
#friend-requests-button {
    color: white;
}



#chat-list-container {

}
#contact-panel {
    height: 60px;
    border: 1px solid;
    margin-bottom: 1px;
    min-width: 100%;
    cursor: pointer;
}